<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Welcome Email</title>
    <style>
        .container{
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome,{{username}}</h2>
        <p>Thank you for signing up for our course.</p>
        <p>Feel free to contact us if you have any questions.</p>
        <p>You are enrolled in the following course{{course}}:</p>
        <hr>
        <small>This is an automated email. Please do not reply to this email.</small>
    </div>
    
</body>
</html>