<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>All Message Data</title>
    <style>
        .debug{
            color: blue;
        } 
        .info{
            color: green;
        }
        .warning{
            color: yellow;
        }
        .error{
            color: red;
        }
        ul{
            list-style-type: none; padding:0;
        }
        li{margin:5px 0;}
    </style>
</head>
<body>
    <h1>All Message Data</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages.</p>
    {% endif %}
    
</body>
</html>